@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    text-wrap: balance;
    @apply selection:bg-accent-secondary selection:text-white;
  }

  html {
    --main-margin-left: 20rem;
    --arrow-rotate: -45deg;
    --main-max-width: 65vw;
  }

  body {
    @apply bg-background text-gray-dark;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-montserrat);
    @apply py-4;
  }

  p {
    @apply py-1;
  }
}

@layer components {
  main {
    margin-left: var(--main-margin-left);
  }

  .main-darker {
    max-width: var(--main-max-width);
  }

  .sidebar {
    translate: var(--sidebar-transform) 0;
  }

  .sidebar__arrow {
    transform: translate(0.25rem, 0.25rem) rotate(var(--arrow-rotate));
  }
}
